tools/__pycache__
tools/original_data/*
tools/statistics
tools/result.json

app/tools/__pycache__
app/tools/__pycache__/*
app/scripts/__pycache__
app/classes/city/__pycache__
app/.env
app/data_temp/logs/*

.conda/*
nominatim-data/*
