setuptools
flask
flask-restx
flask-cors
flask-sqlalchemy
pandas
pyexcel
pyexcel-xls
pyexcel-ods3
xlrd
lxml
ezodf
postgis
psycopg2-binary
geoalchemy2
docopt
geopy
shapely
Werkzeug
markupsafe==2.0.1
debugpy