setuptools
pyexcel
pyexcel-xls
pyexcel-ods3
lxml
ezodf
postgis
geoalchemy2
docopt
Werkzeug
markupsafe==2.0.1
debugpy
geopy
python-dotenv
geopy
unidecode
requests
pandas
tqdm
psycopg2-binary
Flask
flask-cors
sqlalchemy